<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#">Island Of Movies</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/home">Home</a>
                  </li>
                <li class="nav-item active">
                  <a class="nav-link" href="http://localhost:4200/quotes" >Funny Quotes  {{count }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="http://localhost:4200/posters">Posters</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
  </div>
  <div class="container">
    <div class=" d-flex"><img src="/assets/watching-a-movie.png" class="img-thumbnail" ><p class="h1 ">ISLAND OF MOVIES</p></div>

    <router-outlet></router-outlet>
</div>