<!DOCTYPE html>
<div class="list">
  <ul class="list-group" *ngFor="let video of videos">
    <li class="list-group-item">
      <a id="title{{video.id}}" class="h5">{{video.title}}</a>
      <button (click)="changeMode(video.id)" class="btn btn-outline-info pull-right" role="button" aria-disabled="true"
        [disabled]="DetailsMode"> <i class="fa fa-info"></i> Details</button>
      <button id="button{{video.id}}" (click)="changeButtonsMode(video.id)" class="btn btn-outline-primary pull-right"
        role="button" aria-disabled="true"> <i class="fa fa-cart-plus"></i> Rent </button>
    </li>
    <li class="list-group-item" *ngIf="video.id==chosenMovieId">
      <app-details *ngIf="DetailsMode" [videosDetail]="videoForDetails" (updateThisVideo)="updateVideo($event, video.id)" (changeMode)="changeDetailsMode()"
        (updateAmount)="updateAmount($event, video.id)"></app-details>
    </li>
    </ul>
  <ul class="list-group">
    <li class="list-group-item" *ngIf="addMode" >
      
      <app-form class="mt-5" (addVideos)="addVideos($event)"  (changeModes)="changeAddMode($event)" [videos] = "videos"  [buttonT]="buttonTitle" *ngIf="addMode" ></app-form>
    </li>
  </ul>
    <button *ngIf="!addMode"  (click)="changeToAddMode()" class="btn btn-outline-success pull-right"
  role="button" aria-disabled="true"> <i class="fa fa-plus"></i> {{this.buttonTitle}}</button>
 
  
</div>